@import "../../ui/variables.scss";

.listings_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  height: fit-content;
}

.listing_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 1180px;
  gap: 1rem;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media ((min-width: $desktop-width) and (max-width: 1180px)) {
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
  }
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 300px;
  height: 550px;
  padding: 1rem;
  @media (max-width: $tablet-width) {
    max-width: 300px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    max-width: 450px;
  }

  @media ((min-width: $desktop-width) and (max-width: 1180px)) {
    max-width: 250px;
  }

  & img {
    margin: 0 auto;
    max-width: fit-content;
    max-height: 300px;

    border-radius: 0.2rem;
  }
}

.listing_desc {
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: 1rem;
  cursor: pointer;
}
